<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startpage</title>
    <link rel="icon" type="image/png" href="chrome://branding/content/icon32.png">
    <link rel="stylesheet" href="/assets/style.css">
    <script>
        <!--Firefox Flash of unstyled content fix-->
        let FF_FOUC_FIX;
    </script>
</head>

<body>

    <div class="icon-bar">
        <div class="card search-card" onclick="changePage('search')">
            <div class="search-icon">
                <img width="24" height="24" src="/assets/search-ico.png" />
            </div>
        </div>
        <div class="card rss-card" onclick="changePage('rss')">
            <div class="rss-icon">
                <img width="24" height="24" src="/assets/rss-ico.png" />
                <span id="rss-bubble" class="notification-bubble">5</span>
            </div>
        </div>
        <div class="card yt-card" onclick="changePage('youtube')">
            <div class="youtube-icon">
                <img width="24" height="24" src="/assets/youtube-ico.png" />
                <span id="youtube-bubble" class="notification-bubble">2</span>
            </div>
        </div>
    </div>

    <div id="search-page" class="page active-page">
        <input class="search-bar" id="search-query" type="text" placeholder="Search..." />

        <div class="favorites">
            <div class="column">
                {{ if ne .List1Name ""}}
                <h2>{{ .List1Name }}</h2>
                {{ else }}
                <h2>List 1</h2>
                {{ end }}
                <ul>
                    {{ range .List1 }}
                    <li><a href="{{ .Url }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="column">
                {{ if ne .List2Name ""}}
                <h2>{{ .List2Name }}</h2>
                {{ else }}
                <h2>List 2</h2>
                {{ end }}
                <ul>
                    {{ range .List2 }}
                    <li><a href="{{ .Url }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="column">
                {{ if ne .List3Name ""}}
                <h2>{{ .List3Name }}</h2>
                {{ else }}
                <h2>List 3</h2>
                {{ end }}
                <ul>
                    {{ range .List3 }}
                    <li><a href="{{ .Url }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="column">
                {{ if ne .List4Name ""}}
                <h2>{{ .List4Name }}</h2>
                {{ else }}
                <h2>List 4</h2>
                {{ end }}
                <ul>
                    {{ range .List4 }}
                    <li><a href="{{ .Url }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>

    <div id="rss-page" class="page">
        <h1>RSS Feed</h1>

        <select id="category-filter">
        </select>

        <select id="read-filter">
            <option value="unread">Unread</option>
            <option value="read">Read</option>
            <option value="favourites">Favourites</option>
        </select>

        <div id="feed-list">
        </div>
    </div>

    <div id="youtube-page" class="page">
        <h1>YouTube Page</h1>
        <p>This is the YouTube page. Explore videos here.</p>
    </div>

    <script>
        function changePage(page) {
            const pages = document.querySelectorAll('.page');
            pages.forEach(p => {
                p.classList.remove('active-page');
            });

            const selectedPage = document.getElementById(`${page}-page`);
            selectedPage.classList.add('active-page');
        }
    </script>

    <script src="/assets/script.js"></script>

</body>

</html>
