[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Startpage
Comment=
Exec=$HOME/.local/bin/StartPage.bin
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
